<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67029084028-ee4aglt9i53gatjgrl0uth4572ou2tic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67029084028-ee4aglt9i53gatjgrl0uth4572ou2tic</string>
	<key>API_KEY</key>
	<string>AIzaSyB35pcB7tTOnxP0NAOwGDhV4CdFSQPxdF0</string>
	<key>GCM_SENDER_ID</key>
	<string>67029084028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontend-touri</string>
	<key>PROJECT_ID</key>
	<string>touri-65f07</string>
	<key>STORAGE_BUCKET</key>
	<string>touri-65f07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67029084028:ios:4d6faab54c03e3c610e6f9</string>
	<key>DATABASE_URL</key>
	<string>https://touri-65f07-default-rtdb.firebaseio.com</string>
</dict>
</plist>